body, html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.bg {
    background-color: #f0f0f0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;    
    filter: blur(5px);
}

.main {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
}

.head {
    width: 100%;
    height: 200px;
    background: url(https://app.nubank.com.br/images/bill-head-bg.jpg) center center no-repeat;
    background-size: cover;
    /*border-radius: 0px 0px 0px 120px;*/
}

.title {
    text-align: left;
    padding-left: 10%;
    margin-top: 0;
    line-height: 1.2px;
    color: #fff;
    font-weight: 400;
    padding-top: 30px;
}

.content {
    width: 80%;
    overflow-y: auto;
    height: 500px;
    background: #fff;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 1px 1px 0px 0px #9793c6;
}

.img {
    width: 40%;
    margin: 7% 0px 0px 35%;
}

.table {
    padding: 4%;    
        display: inline-table;
    width: 100%;
}

table {
    width: 100%;
    margin-bottom: 1rem;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

.table td, .table th {
    text-align: left;
    padding: .75rem;
    vertical-align: center;
    border-top: 1px solid #dee2e6;
}

.btn-edit {
    outline-style: none;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    background-color: #3f51b5;
    border: 1px solid #3f51b5;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.btn-edit:hover {
    outline-style: none;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #ccc;
    transition: all .15s linear;
    background-color: #5b6abf;
    border: 1px solid #5b6abf;   
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.btn-delete {
    outline-style: none;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    background-color: #f44336;
    border: 1px solid #f44336;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.btn-delete:hover {
    outline-style: none;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #ccc;
    transition: all .15s linear;
    background-color: #f64e42;
    border: 1px solid #f64e42;   
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.btn-new {
    margin-top: 2%;
    margin-left: 2%;
    outline-style: none;
    border-radius: 20px;
    padding: 7px;
    cursor: pointer;
    color: #fff;
    background-color: #4caf50;
    border: 1px solid #4caf50;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.btn-new:hover {
    margin-top: 2%;
    margin-left: 2%;
    outline-style: none;
    border-radius: 20px;
    padding: 7px;
    cursor: pointer;
    color: #ccc;
    transition: all .15s linear;
    background-color: #69ae6b;
    border: 1px solid #69ae6b; 
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.hidden {
    display: none;
}

.frm-Adicionar {
    padding: 4%;
}

.frm-control {
    position: relative;
    padding-top: 1.75rem;
}

label {
    max-width: 100%;
    color: #535353;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

.frm-adicionar {
    display: none;
    width: 40%;
    margin: 0 auto;
}

.add {
    display: block;
}

.text {
    position: relative;
    padding: 8px 13px 8px 13px;
    display: table;
    border-collapse: separate;
    color: #e91e63;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #fff;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-color: #cdcfd3;
    border-radius: 2px;
    border-width: 1px;
    width: 100%;
}

.text:focus {
    position: relative;
    outline-style: none;
    padding: 8px 13px 8px 13px;
    display: table;
    border-collapse: separate;
    color: #e91e63;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #fff;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-color: #cdcfd3;
    border-radius: 2px;
    border-width: 1px;
    width: 100%;
}

.right {
    float: right;
}

.btn-save {
    outline-style: none;
    border-radius: 20px;
    margin-right: -30px;
    padding: 7px;
    cursor: pointer;
    color: #fff;
    background-color: #4caf50;
    border: 1px solid #4caf50;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}